<loader-comp *ngIf="!pokemons"></loader-comp>

<div class="row center">
  <input
    class="col-md-2 col-sm-3 col-xs-12"
    type="text"
    [(ngModel)]="searchText"
    placeholder="Search"
  />
</div>
<div class="container home" *ngIf="pokemons">
  <div class="row" #elseBlock>
    <a
      class="col-md-3 col-sm-4 col-xs-12"
      *ngFor="let pokemon of pokemons | appFilter: searchText | slice: 0:25"
      routerLink="details/{{ pokemon.name }}"
    >
      <card-comp [cardPokemon]="pokemon"></card-comp>
    </a>
  </div>
</div>
