<loader-comp *ngIf="!pokemon"></loader-comp>

<div *ngIf="pokemon" class="container details">
  <div class="row">
    <div class="col-md-6">
      <div class="{{ 'card base backdrop' + pokemon.types[0].type.name }}">
        <h2 class="{{ 'backdrop-' + pokemon.types[0].type.name }}">
          {{ pokemon.name }}
        </h2>
        <img
          alt="{{ pokemon.name }}"
          title="{{ pokemon.name }}"
          src="{{ pokeImg }}"
          class="anim"
          (error)="onImgError($event)"
        />
        <div class="uni-row">
          <div *ngFor="let type of pokemon.types">
            <p class="{{ 'bg-' + type.type.name }}">{{ type.type.name }}</p>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="card row">
        <h2 class="col-md-12">Base Info</h2>
        <div class="item col-md-6">
          <p>Height:</p>
          <span> {{ height }} m </span>
        </div>
        <div class="item col-md-6">
          <p>Weight:</p>
          <span> {{ weight }} kg </span>
        </div>
        <div class="item col-md-6">
          <p>Abilities:</p>
          <ul>
            <li *ngFor="let detail of pokemon.abilities">
              {{ detail.ability.name }}
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="row stat">
    <div class="col-md-12">
      <div class="card">
        <h2>Stats</h2>
        <div class="row">
          <div *ngFor="let stat of pokemon.stats" class="col-md-2">
            <div class="bar">
              <div
                [ngStyle]="{ 'height.px': stat.base_stat }"
                class="{{ 'bar-active bg-' + pokemon.types[0].type.name }}"
              ></div>
              <p class="value">{{ stat.base_stat }}</p>
            </div>
            <p>
              {{ stat.stat.name }}
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
